@media only screen and (max-width: 414px) {
    
    .main, .maps, .presets, .aboutus, .vkimg, .dsimg {
        margin: 0 auto;
        margin-left: 30px;
    }

    .wcm1, .wcm2 {
        font-family: 'Cairo';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 56px;
margin: 0px;
max-width: 414px;
text-align: center;

    }

    .rectangleonmain {
        width: 0%;
    }

    .park {
        
        left: auto;
        margin-left: 45px;
        top: auto;
        width: 324px;
height: 180px;

    }
}

.p1, .p2, .p3 {
    font-family: 'Cairo';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 56px;
text-align: center;

}
